In [27]:
# Dependencies
import pandas as pd
import numpy as np

#### Genre

In [3]:
# Read superhero_cinema.csv as Pandas DataFrame
movie_df = pd.read_csv('Output/superhero_cinema.csv')

In [5]:
genre_split_df = movie_df.assign(Genre=movie_df['Genre'].str.split(','))
genre_split_df.head()

,Film ID,Title,Year,Rated,Released,Runtime (min),Genre,Director,Writer,Actors,Rotten Tomatoes Rating (%),Metascore,IMDB Rating,Box Office ($),Franchise
0,0,Ant-Man,2015,PG-13,2015-07-17,117,"[Action, Comedy, Sci-Fi]",Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU
1,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,"[Action, Adventure, Comedy]",Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU
2,2,Ant-Man and the Wasp: Quantumania,2023,PG-13,2023-02-17,124,"[Action, Adventure, Comedy]",Peyton Reed,"Jeff Loveness, Stan Lee, Larry Lieber","Paul Rudd, Evangeline Lilly, Michael Douglas",47,48,6.1,214496697,MCU
3,3,Aquaman,2018,PG-13,2018-12-21,143,"[Action, Adventure, Fantasy]",James Wan,"David Leslie Johnson-McGoldrick, Will Beall, G...","Jason Momoa, Amber Heard, Willem Dafoe",65,55,6.8,335104314,DCEU
4,4,Avengers: Age of Ultron,2015,PG-13,2015-05-01,141,"[Action, Adventure, Sci-Fi]",Joss Whedon,"Joss Whedon, Stan Lee, Jack Kirby","Robert Downey Jr., Chris Evans, Mark Ruffalo",76,66,7.3,459005868,MCU

In [6]:
genre_explode_df = genre_split_df.explode('Genre').reset_index(drop=True)
genre_explode_df.head()

,Film ID,Title,Year,Rated,Released,Runtime (min),Genre,Director,Writer,Actors,Rotten Tomatoes Rating (%),Metascore,IMDB Rating,Box Office ($),Franchise
0,0,Ant-Man,2015,PG-13,2015-07-17,117,Action,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU
1,0,Ant-Man,2015,PG-13,2015-07-17,117,Comedy,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU
2,0,Ant-Man,2015,PG-13,2015-07-17,117,Sci-Fi,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU
3,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,Action,Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU
4,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,Adventure,Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU

In [11]:
# Create list of genres
genres = genre_explode_df['Genre'].unique()
len_genres = len(genres)
genre_ids = np.arange(1, len_genres + 1)
print(genres)
print(genre_ids)

['Action' ' Comedy' ' Sci-Fi' ' Adventure' ' Fantasy' ' Drama' ' Crime']
[1 2 3 4 5 6 7]

In [12]:
genre_id_df = pd.DataFrame({'Genre ID': genre_ids, 'Genre': genres})
genre_id_df

   Genre ID       Genre
0         1      Action
1         2      Comedy
2         3      Sci-Fi
3         4   Adventure
4         5     Fantasy
5         6       Drama
6         7       Crime

In [13]:
genre_mapping = genre_id_df.set_index('Genre')['Genre ID'].to_dict()
genre_mapping

{'Action': 1,
 ' Comedy': 2,
 ' Sci-Fi': 3,
 ' Adventure': 4,
 ' Fantasy': 5,
 ' Drama': 6,
 ' Crime': 7}

In [14]:
genre_explode_df['Genre ID'] = genre_explode_df['Genre'].map(genre_mapping)
genre_explode_df.head(10)

,Film ID,Title,Year,Rated,Released,Runtime (min),Genre,Director,Writer,Actors,Rotten Tomatoes Rating (%),Metascore,IMDB Rating,Box Office ($),Franchise,Genre ID
0,0,Ant-Man,2015,PG-13,2015-07-17,117,Action,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU,1
1,0,Ant-Man,2015,PG-13,2015-07-17,117,Comedy,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU,2
2,0,Ant-Man,2015,PG-13,2015-07-17,117,Sci-Fi,Peyton Reed,"Edgar Wright, Joe Cornish, Adam McKay","Paul Rudd, Michael Douglas, Corey Stoll",83,64,7.3,180202163,MCU,3
3,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,Action,Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU,1
4,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,Adventure,Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU,4
5,1,Ant-Man and the Wasp,2018,PG-13,2018-07-06,118,Comedy,Peyton Reed,"Chris McKenna, Erik Sommers, Paul Rudd","Paul Rudd, Evangeline Lilly, Michael Peña",87,70,7.0,216648740,MCU,2
6,2,Ant-Man and the Wasp: Quantumania,2023,PG-13,2023-02-17,124,Action,Peyton Reed,"Jeff Loveness, Stan Lee, Larry Lieber","Paul Rudd, Evangeline Lilly, Michael Douglas",47,48,6.1,214496697,MCU,1
7,2,Ant-Man and the Wasp: Quantumania,2023,PG-13,2023-02-17,124,Adventure,Peyton Reed,"Jeff Loveness, Stan Lee, Larry Lieber","Paul Rudd, Evangeline Lilly, Michael Douglas",47,48,6.1,214496697,MCU,4
8,2,Ant-Man and the Wasp: Quantumania,2023,PG-13,2023-02-17,124,Comedy,Peyton Reed,"Jeff Loveness, Stan Lee, Larry Lieber","Paul Rudd, Evangeline Lilly, Michael Douglas",47,48,6.1,214496697,MCU,2
9,3,Aquaman,2018,PG-13,2018-12-21,143,Action,James Wan,"David Leslie Johnson-McGoldrick, Will Beall, G...","Jason Momoa, Amber Heard, Willem Dafoe",65,55,6.8,335104314,DCEU,1

In [18]:
genre_relation_df = genre_explode_df[['Film ID', 'Genre ID']]
genre_relation_df.head()

   Film ID  Genre ID
0        0         1
1        0         2
2        0         3
3        1         1
4        1         4

In [20]:
genre_explode_df.columns

Index(['Film ID', 'Title', 'Year', 'Rated', 'Released', 'Runtime (min)',
       'Genre', 'Director', 'Writer', 'Actors', 'Rotten Tomatoes Rating (%)',
       'Metascore', 'IMDB Rating', 'Box Office ($)', 'Franchise', 'Genre ID'],
      dtype='object')

In [30]:
updated_movie_df = genre_explode_df[['Film ID', 'Title', 'Year', 'Rated', 'Released', 'Runtime (min)',
                                     'Director', 'Writer', 'Actors', 'Rotten Tomatoes Rating (%)',
                                     'Metascore', 'IMDB Rating', 'Box Office ($)', 'Franchise']]
updated_movie_df.drop_duplicates(inplace=True)

C:\Users\jgorin\AppData\Local\Temp\ipykernel_15572\1441089286.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_movie_df.drop_duplicates(inplace=True)

In [29]:
updated_movie_df.to_csv('Output/superhero_no_genre.csv', index=False)
genre_id_df.to_csv('Output/genre.csv', index=False)
genre_relation_df.to_csv('Output/genre_relation.csv', index=False)

#### Director

In [31]:
# Read superhero_no_genre.csv
movie_df = pd.read_csv('Output/superhero_no_genre.csv')

In [33]:
# Split directors by comma
director_split_df = movie_df.assign(Director=movie_df['Director'].str.split(','))

In [34]:
director_explode_df = director_split_df.explode('Director').reset_index(drop=True)

In [35]:
# Create list of directors
directors = director_explode_df['Director'].unique()
len_directors = len(directors)
director_ids = np.arange(1, len_directors + 1)
print(directors)
print(director_ids)

['Peyton Reed' 'James Wan' 'Joss Whedon' 'Anthony Russo' ' Joe Russo'
 'Zack Snyder' 'Cathy Yan' 'Jaume Collet-Serra' 'Ryan Coogler'
 'Cate Shortland' 'Joe Johnston' 'Anna Boden' ' Ryan Fleck'
 'Scott Derrickson' 'Sam Raimi' 'Chloé Zhao' 'James Gunn' 'Jon Favreau'
 'Shane Black' 'Destin Daniel Cretton' 'David F. Sandberg' 'Jon Watts'
 'David Ayer' 'Andy Muschietti' 'Louis Leterrier' 'Kenneth Branagh'
 'Taika Waititi' 'Alan Taylor' 'Patty Jenkins']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29]

In [36]:
# Director Table
director_df = pd.DataFrame({'Director ID': director_ids, 'Director': directors})
director_df

    Director ID               Director
0             1            Peyton Reed
1             2              James Wan
2             3            Joss Whedon
3             4          Anthony Russo
4             5              Joe Russo
5             6            Zack Snyder
6             7              Cathy Yan
7             8     Jaume Collet-Serra
8             9           Ryan Coogler
9            10         Cate Shortland
10           11           Joe Johnston
11           12             Anna Boden
12           13             Ryan Fleck
13           14       Scott Derrickson
14           15              Sam Raimi
15           16             Chloé Zhao
16           17             James Gunn
17           18            Jon Favreau
18           19            Shane Black
19           20  Destin Daniel Cretton
20           21      David F. Sandberg
21           22              Jon Watts
22           23             David Ayer
23           24        Andy Muschietti
24           25        Louis Leterrier
25           26        Kenneth Branagh
26           27          Taika Waititi
27           28            Alan Taylor
28           29          Patty Jenkins

In [37]:
director_mapping = director_df.set_index('Director')['Director ID'].to_dict()
director_mapping

{'Peyton Reed': 1,
 'James Wan': 2,
 'Joss Whedon': 3,
 'Anthony Russo': 4,
 ' Joe Russo': 5,
 'Zack Snyder': 6,
 'Cathy Yan': 7,
 'Jaume Collet-Serra': 8,
 'Ryan Coogler': 9,
 'Cate Shortland': 10,
 'Joe Johnston': 11,
 'Anna Boden': 12,
 ' Ryan Fleck': 13,
 'Scott Derrickson': 14,
 'Sam Raimi': 15,
 'Chloé Zhao': 16,
 'James Gunn': 17,
 'Jon Favreau': 18,
 'Shane Black': 19,
 'Destin Daniel Cretton': 20,
 'David F. Sandberg': 21,
 'Jon Watts': 22,
 'David Ayer': 23,
 'Andy Muschietti': 24,
 'Louis Leterrier': 25,
 'Kenneth Branagh': 26,
 'Taika Waititi': 27,
 'Alan Taylor': 28,
 'Patty Jenkins': 29}

In [38]:
director_explode_df['Director ID'] = director_explode_df['Director'].map(director_mapping)

In [40]:
director_relation_df = director_explode_df[['Film ID', 'Director ID']]
director_relation_df

    Film ID  Director ID
0         0            1
1         1            1
2         2            1
3         3            2
4         4            3
5         5            4
6         5            5
7         6            4
8         6            5
9         7            6
10        8            7
11        9            8
12       10            9
13       11            9
14       12           10
15       13            4
16       13            5
17       14           11
18       15            4
19       15            5
20       16           12
21       16           13
22       17           14
23       18           15
24       19           16
25       20           17
26       21           17
27       22           17
28       23           18
29       24           18
30       25           19
31       26            6
32       27            6
33       28           20
34       29           21
35       30           21
36       31           22
37       32           22
38       33           22
39       34           23
40       35            3
41       36           24
42       37           25
43       38           17
44       39           26
45       40           27
46       41           27
47       42           28
48       43           29
49       44           29
50       45            6

In [41]:
director_explode_df.columns

Index(['Film ID', 'Title', 'Year', 'Rated', 'Released', 'Runtime (min)',
       'Director', 'Writer', 'Actors', 'Rotten Tomatoes Rating (%)',
       'Metascore', 'IMDB Rating', 'Box Office ($)', 'Franchise',
       'Director ID'],
      dtype='object')

In [43]:
updated_movie_df = director_explode_df[['Film ID', 'Title', 'Year', 'Rated', 'Released', 'Runtime (min)',
                                        'Writer', 'Actors', 'Rotten Tomatoes Rating (%)',
                                        'Metascore', 'IMDB Rating', 'Box Office ($)', 'Franchise']]
updated_movie_df.drop_duplicates(inplace=True)

C:\Users\jgorin\AppData\Local\Temp\ipykernel_15572\471083227.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_movie_df.drop_duplicates(inplace=True)

In [44]:
updated_movie_df.to_csv('Output/superhero_no_genre_director.csv', index=False)
director_df.to_csv('Output/director.csv', index=False)
director_relation_df.to_csv('Output/director_relation.csv', index=False)